body {
    background-color: #f1f1f1;
}

header {
    background-color: black;
    height: 835px;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

#menu-button {
    margin-top: 0.2rem;
    margin-left: -0.09rem;
}

.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    height: 100%;
    max-width: 100%;
    background-image: url(../images/about.jpeg);
}

.py-5 {
    padding-top: 7rem!important;
    padding-bottom: 20rem!important;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    margin-top: 0.3rem;
    padding-top: 0.5rem;
    border-radius: 2rem;
}

.navbar-light .navbar-toggler {
    color: rgb(233, 233, 233);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: white;
    margin-right: 0rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 2rem;
    margin-right: 0.5rem;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: calc(1.375rem + 3.5vw);
    letter-spacing: 1vw;
    margin-bottom: 2vw;
}

.h1, h1 {
    font-size: calc(1.375rem + 7.5vw);
    position: relative;
    margin-left: 1.2rem;
    margin-top: -30rem;
    color: white;
}

.float-end {
    font-size: 0.8rem!important;
    margin-top: -38rem;
    transform: rotate(-90deg);
    width: 15rem;
    letter-spacing: 0.8rem;
    margin-right: -6rem;
    text-align: center;
    color: white;
}

.learn-more {
    background-color: white;
    width: 21rem;
    margin-left: -0.8rem;
    height: 9.5rem;
    margin-top: 35.7rem;
    padding: 3rem;
}

.h6, h6 {
    font-size: 1.3rem;
}

.small, small {
    font-size: 1em;
}



@media (min-width: 480px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        height: 100%;
        background-image: url(../images/about.jpeg);
    }

    .learn-more {
        width: 25rem;
    }

    .h6, h6 {
        font-size: 1.5rem;
    }

    .small, small {
        font-size: 1.1em;
    }


}


@media (min-width: 576px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .learn-more {
        width: 30rem;
    }

    .h6, h6 {
        font-size: 1.7rem;
    }

    .small, small {
        font-size: 1.2em;
    }

   
}


@media (min-width: 768px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        margin-left: 3rem;
    }


    
}


@media (min-width: 992px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        margin-top: -35rem;
    }

    .learn-more {
        width: 25rem;
        margin-top: 38.5rem;
        padding: 2.7rem 3rem 3rem 3rem;
    }

    .float-end {
        font-size: 1rem!important;
        margin-top: -35rem;
        transform: rotate(-90deg);
        width: 21rem;
        letter-spacing: 1.3rem;
        margin-right: -9rem;
        text-align: center;
        color: white;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    li {
        display: inline-block;
        margin-left: 30px;
    }

    li a {
        display: block;
        position: relative;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0.3rem;
        padding-top: 0rem;
        background-color: transparent;
    }

    li a:after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        background: white;
        bottom: 47px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
    }

    li a:hover:after, li a:focus:after {
        width: 100%;
    }

    
}


@media (min-width: 1200px) {
    .h1, h1 {
        font-size: calc(1.375rem + 6.5vw);
        margin-left: -45rem;
    }

    .learn-more {
        padding: 3rem;
        width: 30rem;
    }

    .h6, h6 {
        margin-left: -6rem;
    }

    .text-muted {
        margin-left: -5.5rem;
    }


}


@media (min-width: 1400px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
        margin-left: -55rem;
    }

    .learn-more {
        padding: 3rem;
        width: 35rem;
    }

    .h6, h6 {
        margin-left: -8rem;
    }

    .text-muted {
        margin-left: -7.5rem;
    }
}


@media (min-width: 1600px) {
    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
        margin-left: -70rem;
    }
}
