body {
    background-color: white;
}

header {
    background-color: black;
    height: 835px;
}

.container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

#menu-button {
    margin-top: 0.2rem;
    margin-left: -0.09rem;
}

.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    height: 100%;
    max-width: 100%;
    background-image: url(../images/service.jpg);
}

.py-5 {
    padding-top: 7rem!important;
    padding-bottom: 20rem!important;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    margin-top: 0.3rem;
    padding-top: 0.5rem;
    border-radius: 2rem;
}

.navbar-light .navbar-toggler {
    color: rgb(233, 233, 233);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: white;
    margin-right: 0rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 2rem;
    margin-right: 0.5rem;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: calc(1.375rem + 3.5vw);
    letter-spacing: 1vw;
    margin-bottom: 2vw;
}

.h1, h1 {
    font-size: calc(1.375rem + 7.5vw);
    position: relative;
    margin-left: 1.2rem;
    margin-top: -30rem;
    color: white;
}

.float-end {
    font-size: 0.8rem!important;
    margin-top: -38rem;
    transform: rotate(-90deg);
    width: 15rem;
    letter-spacing: 0.8rem;
    margin-right: -6rem;
    text-align: center;
    color: white;
}

.learn-more {
    background-color: white;
    width: 21rem;
    margin-left: -0.8rem;
    height: 9.5rem;
    margin-top: 35.7rem;
    padding: 3rem;
}

.h6, h6 {
    font-size: 1.3rem;
}

.small, small {
    font-size: 1em;
}

main {
    padding-top: 1rem;
}

.carousel-container {
    position: relative;
    padding: 1rem;
}

.carousel-text {
    text-align: left;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.711) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    margin-left: -4rem;
    margin-top: -4rem;
    width: 80%;
    padding: .3rem 0rem .3rem .7rem;
}

.carousel-para {
    color: white;
    font-size: .8rem;
    border: 0.3rem solid white;
    border-radius: 2rem;
    width: 230px;
    padding: 0.4rem;
    font-weight: 600;
    margin-left: -4rem;
    margin-top: 20px;
}

.d-block {
    display: block!important;
    border: 0.5rem solid white;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 5px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.display-2 {
    font-size: calc(1.325rem + 2vw);
    position: absolute;
    margin-top: 1rem;
    padding-left: 1.2rem;
    border-bottom: 0.5rem solid #8a6132;
    padding-bottom: 0.2rem;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.mb-3 {
    margin-bottom: 2rem!important;
}

.border-success1 {
    border-top: 0.8rem solid #38AEE6;
}

.border-success2 {
    border-top: 0.8rem solid #3FD7C5;
}

.border-success3 {
    border-top: 0.8rem solid #B75CFF;
}

.display-6 {
    font-size: calc(1.375rem + 0vw);
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
}

.card-header {
    padding: 0.8rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.display-3 {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
}

.para-1 {
    font-size: 0.8rem;
    margin-left: 8rem;
    margin-top: -3rem;
}

.para-2 {
    font-size: 0.8rem;
    margin-left: 8rem;
    margin-top: -3rem;
}

.para-3 {
    font-size: 0.8rem;
    margin-left: 8rem;
    margin-top: -3rem;
}

.card-middle {
    padding: .5rem 1rem;
    border-top: 1px solid rgba(0,0,0,.125);
    font-size: 0.9rem;
    margin-bottom: 0rem;
}

.card-footer {
    padding: .6rem 1rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.btn-smp1 {
    background-color: #38AEE6;
    color: white;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 90%;
}

.btn-smp1:hover {
    color: white;
    background-color: #2991c1;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-smp2 {
    background-color: #3FD7C5;
    color: white;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 90%;
}

.btn-smp2:hover {
    color: white;
    background-color: #21c0ad;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-smp3 {
    background-color: #B75CFF;
    color: white;
    text-align: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    width: 90%;
}

.btn-smp3:hover {
    color: white;
    background-color: #9250c8;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mark, mark {
    padding: .2em;
    background-color: #fffd92;
}

.alert-dark {
    color: black;
    background-color: #FFE600;
}

.alert {
    position: relative;
    padding: 1rem 3rem 1rem 2rem;
    margin-bottom: 0rem;
    border: 1px solid transparent;
    border-radius: 0rem;
    margin-left: var(--bs-gutter-x,-0.8rem);
    margin-right: var(--bs-gutter-x,-0.8rem);
    text-align: left;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.2rem 0.5rem;
}







@media (min-width: 480px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        height: 835px;
    }

    .learn-more {
        width: 25rem;
    }

    .h6, h6 {
        font-size: 1.5rem;
    }

    .small, small {
        font-size: 1.1em;
    }

    main {
        margin-top: 13rem;
    }

    .container {
        margin-bottom: 8rem;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        height: 100%;
    }

    .card-body {
        flex: none;
        padding: 1rem 1rem .5rem 2rem;
    }

    .card-header {
        padding: 1.5rem 1rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .card-middle {
        padding: 1rem 1rem;
        border-top: 1px solid rgba(0,0,0,.125);
        font-size: 0.9rem;
        margin-bottom: 0rem;
    }

    .btn-smp1 {
        background-color: #38AEE6;
        color: white;
        text-align: center;
        width: 320px;
        height: 50px;
        margin: auto;
        padding: .7rem;
        position: relative;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%,-50%)!important;
    }

    .card-footer {
        padding: .8rem 1rem;
        border-top: 1px solid rgba(0,0,0,.125);
    }

    .para-1 {
        font-size: 0.8rem;
        margin-right: 0rem;
        margin-top: -3rem;
        float: right;
    }

    .display-6 {
        font-size: calc(1.375rem + 1vw);
        font-weight: 300;
        line-height: 1.2;
        text-align: center;
    }

    .btn-smp2 {
        color: white;
        text-align: center;
        width: 320px;
        height: 50px;
        margin: auto;
        padding: .7rem;
        position: relative;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%,-50%)!important;
    }

    .para-2 {
        font-size: 0.8rem;
        margin-left: 11rem;
        margin-top: -3rem;
        float: right;
    }

    .btn-smp3 {
        color: white;
        text-align: center;
        width: 320px;
        height: 50px;
        margin: auto;
        padding: .7rem;
        position: relative;
        top: 50%!important;
        left: 50%!important;
        transform: translate(-50%,-50%)!important;
    }

    .para-3 {
        font-size: 0.8rem;
        margin-left: 11rem;
        margin-top: -3rem;
        float: right;
    }

    .border-success1 {
        border-top: 1.5rem solid #38AEE6;
    }

    .border-success2 {
        border-top: 1.5rem solid #3FD7C5;
    }

    .border-success3 {
        border-top: 1.5rem solid #B75CFF;
    }



}


@media (min-width: 576px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/service2.jpg);
    }

    .learn-more {
        width: 30rem;
    }

    .h6, h6 {
        font-size: 1.7rem;
    }

    .small, small {
        font-size: 1.2em;
    }

    .display-2 {
        margin-top: 3rem;
    }

    .display-6 {
        font-size: calc(1.375rem + 1.25vw);
    }

    .para-1 {
        font-size: 1.1rem;
        margin-left: 9rem;
        margin-top: -3.7rem;
    }

    .para-2 {
        font-size: 1.1rem;
        margin-left: 8.7rem;
        margin-top: -3.7rem;
    }

    .para-3 {
        font-size: 1.1rem;
        margin-left: 8.7rem;
        margin-top: -3.7rem;
    }

    .card-body {
        padding: 1rem 0rem .5rem 2rem;
    }

    .card-middle {
        padding: 1.2rem 2rem;
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1.3rem;
    }

    .btn-smp1 {
        height: 55px;
    }

    .btn-smp2 {
        height: 55px;
    }

    .btn-smp3 {
        height: 55px;
    }


}


@media (min-width: 768px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
    }

    .h1, h1 {
        margin-left: 3rem;
    }

    .d-block {
        display: block!important;
        border: .65rem solid white;
    }

    .carousel-indicators {
        bottom: 10px;
    }

    .para-1 {
        font-size: 1rem;
        margin-left: 8rem;
        margin-top: -3rem;
    }
    
    .para-2 {
        font-size: 1rem;
        margin-left: 17rem;
        margin-top: -3.7rem;
    }
    
    .para-3 {
        font-size: 1rem;
        margin-left: 17rem;
        margin-top: -3.7rem;
    }

    .card-body {
        flex: none;
        padding: 1rem 1rem .5rem 2rem;
    }



}


@media (min-width: 850px) {
    .alert-dismissible .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 0.2rem 0.5rem;
        margin-top: 1.2rem;
    }

}


@media (min-width: 992px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
    }

    .h1, h1 {
        margin-top: -35rem;
    }

    .learn-more {
        width: 25rem;
        margin-top: 38.5rem;
        padding: 2.7rem 3rem 3rem 3rem;
    }

    .float-end {
        font-size: 1rem!important;
        margin-top: -35rem;
        transform: rotate(-90deg);
        width: 21rem;
        letter-spacing: 1.3rem;
        margin-right: -9rem;
        text-align: center;
        color: white;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    li {
        display: inline-block;
        margin-left: 30px;
    }

    li a {
        display: block;
        position: relative;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0.3rem;
        padding-top: 0rem;
        background-color: rgba(255, 255, 255, 0.361);
    }

    li a:after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        background: white;
        bottom: 47px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
    }

    li a:hover:after, li a:focus:after {
        width: 100%;
    }

    main {
        margin-top: 15rem;
    }

    .carousel-container {
        margin: 2rem;
    }

    .display-2 {
        font-size: calc(1.325rem + 1.7vw);
    }

    .card-middle {
        padding: 1.5rem 2rem;
    }

    .card-footer {
        padding: 1rem 1rem;
    }

    .btn {
        font-size: 1.4rem;
    }

    .btn-smp1, .btn-smp2, .btn-smp3 {
        height: 60px;
    }

    .d-block {
        border: .8rem solid white;
    }

    .card-body {
        flex: none;
        padding: 1rem 2rem .5rem 2rem;
    }


}


@media (min-width: 1080px) {
    .carousel-container {
        margin: 2rem 5rem;
    }

}


@media (min-width: 1200px) {
    .h1, h1 {
        font-size: calc(1.375rem + 6.5vw);
        margin-left: -38rem;
    }

    .learn-more {
        padding: 3rem;
        width: 30rem;
    }

    .h6, h6 {
        margin-left: -4.8rem;
    }

    .text-muted {
        margin-left: -5.5rem;
    }

    .carousel-container {
        margin: 0rem 8rem;
    }

    .display-2 {
        margin-top: 5rem;
    }

    .premium {
        margin-right: 0rem;
    }

    .display-6 {
        font-size: calc(1.375rem + 0.5vw);
    }

    .card-header {
        padding: 1.25rem 1rem;
    }

    .display-3 {
        font-size: calc(1.525rem + 1vw);
    }

    .para-1 {
        font-size: 0.8rem;
    }

    .para-2, .para-3 {
        font-size: 0.8rem;
        margin-left: 9rem;
        margin-top: -3rem;
    }

    .card-middle {
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
    }

    .card-light {
        height: 60.5%;
    }

    .btn {
        font-size: 1rem;
    }

    .btn-smp1, .btn-smp2, .btn-smp3 {
        height: 45px;
        width: 250px;
        padding: .55rem;
    }

    .card-footer {
        padding: .8rem 1rem;
    }

    .card-body {
        flex: none;
        padding: 1rem 0rem .5rem 2rem;
    }


}


@media (min-width: 1400px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
    }

    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
        margin-left: -48rem;
    }

    .learn-more {
        padding: 3rem;
        width: 35rem;
    }

    .h6, h6 {
        margin-left: -6.8rem;
    }

    .text-muted {
        margin-left: -7.5rem;
    }

    .carousel-container {
        margin: 2rem 16rem;
    }

    .display-2 {
        font-size: calc(1.325rem + 1vw);
    }

    .card-body {
        flex: none;
        padding: 1rem 0rem .5rem 1.3rem;
    }

    .para-1 {
        margin-right: 1rem;
    }

    .para-2, .para-3 {
        font-size: 0.8rem;
        margin-left: 8.25rem;
        margin-top: -3rem;
    }

    .card-light {
        height: 58.8%;
    }

}


@media (min-width: 1600px) {
    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
        margin-left: -62rem;
    }

    .carousel-container {
        margin: 4rem 23rem;
    }

}