body {
    background-color: white;
}

header {
    background-color: black;
    height: 835px;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

#menu-button {
    margin-top: 0.2rem;
    margin-left: -0.09rem;
}

.jumbotron {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    height: 100%;
    max-width: 100%;
    background-image: url(../images/about.jpeg);
}

.py-5 {
    padding-top: 7rem!important;
    padding-bottom: 20rem!important;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    margin-bottom: 0;
    list-style: none;
    background-color: white;
    margin-top: 0.3rem;
    padding-top: 0.5rem;
    border-radius: 2rem;
}

.navbar-light .navbar-toggler {
    color: rgb(233, 233, 233);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: white;
    margin-right: 0rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 2rem;
    margin-right: 0.5rem;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: calc(1.375rem + 3.5vw);
    letter-spacing: 1vw;
    margin-bottom: 2vw;
}

.h1, h1 {
    font-size: calc(1.375rem + 7.5vw);
    position: relative;
    margin-left: 1.2rem;
    margin-top: -33rem;
    color: white;
}

.float-end {
    font-size: 0.8rem!important;
    margin-top: -38rem;
    transform: rotate(-90deg);
    width: 15rem;
    letter-spacing: 0.8rem;
    margin-right: -6rem;
    text-align: center;
    color: white;
}

.learn-more {
    background-color: white;
    width: 21rem;
    margin-left: -0.8rem;
    height: 9.5rem;
    margin-top: 35.7rem;
    padding: .5rem 1.5rem 1rem;
}

.small, small {
    font-size: 1em;
}

.text-muted {
    margin-left: .5rem;
}

#validationCustom01, #validationCustom02 {
    margin-top: 0.5rem;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

.subscription-title {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 2rem 0rem 2rem;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem 0rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.btn-subscribe {
    color: black;
    border: 0.2rem solid black;
    border-radius: 2rem;
    font-size: 1rem;
    margin-bottom: .8rem;
}

.btn-subscribe:hover {
    color: white;
    background-color: black;
}

.btn-warning {
    background-color: #FFE600;
    border-color: #FFE600;
}

.container {
    padding-top: 4rem;
}

.display-6 {
    font-size: calc(1.375rem + 3.5vw);
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3rem;
}

b, strong {
    font-weight: 600;
}

.member-image {
    border-radius: 8rem;
    height: 10rem;
    width: 10rem;
}

.member-name {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .3rem;
}

.member-position {
    text-align: center;
    font-size: .7rem;
}

.col {
    margin-bottom: 3rem;
    text-align: center;
}









@media (min-width: 480px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        height: 835px;
        background-image: url(../images/about.jpeg);
    }

    .learn-more {
        width: 25rem;
        padding: 0.3rem 1.5rem 1rem;
    }

    .btn-subscribe {
        font-size: 1.2rem;
    }

    .small, small {
        font-size: 1.1em;
    }

    main {
        margin-top: 13rem;
    }


}


@media (min-width: 576px) {
    header {
        height: 620px;
    }

    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .learn-more {
        width: 30rem;
    }

    .small, small {
        font-size: 1.2em;
    }

    .member-image {
        height: 12rem;
        width: 12rem;
    }

    .member-name {
        font-size: 1.3rem;
        margin-top: .5rem;
    }

   
}


@media (min-width: 768px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        margin-left: 3rem;
    }

    .display-6 {
        margin-bottom: 4rem;
    }


}


@media (min-width: 992px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        margin-top: -40rem;
    }

    .learn-more {
        width: 25rem;
        margin-top: 38.5rem;
        padding: 0.2rem 0rem 0rem 2rem;
}

    .float-end {
        font-size: 1rem!important;
        margin-top: -35rem;
        transform: rotate(-90deg);
        width: 21rem;
        letter-spacing: 1.3rem;
        margin-right: -9rem;
        text-align: center;
        color: white;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: white;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
    }

    li {
        display: inline-block;
        margin-left: 30px;
    }

    li a {
        display: block;
        position: relative;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0.3rem;
        padding-top: 0rem;
        background-color: rgba(255, 255, 255, 0.361);
    }

    li a:after {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        background: white;
        bottom: 47px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s;
    }

    li a:hover:after, li a:focus:after {
        width: 100%;
    }

    .container {
        padding-top: 5rem;
    }

    .display-6 {
        font-size: calc(1.375rem + 2.5vw);
        margin-bottom: 5rem;
    }

    .member-name {
        margin-bottom: 0.2rem;
    }

    
}


@media (min-width: 1200px) {
    .h1, h1 {
        font-size: calc(1.375rem + 6.5vw);
        text-align: left;
    }

    .learn-more {
        padding: 0.2rem 0rem 0rem 2rem;
        width: 30rem;
    }

    .btn-subscribe {
        font-size: 1.4rem;
        margin-left: -5rem;
    }

    .text-muted {
        margin-left: -4.5rem;
    }

    .container {
        padding-top: 8rem;
    }

    .member-image {
        height: 13rem;
        width: 13rem;
    }

    .display-6 {
        font-size: calc(1.375rem + 2.5vw);
        margin-bottom: 7rem;
    }

}


@media (min-width: 1400px) {
    .jumbotron {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        max-width: 100%;
        background-image: url(../images/about.jpeg);
    }

    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
    }

    .learn-more {
        width: 35rem;
    }

    .btn-subscribe {
        margin-left: -7rem;
    }

    .text-muted {
        margin-left: -6.5rem;
    }

    .member-image {
        height: 15rem;
        width: 15rem;
    }

    .member-name {
        font-size: 1.5rem;
    }

    
}


@media (min-width: 1600px) {
    .h1, h1 {
        font-size: calc(1.375rem + 5.5vw);
    }
}